imports

In [48]:
import pandas as pd
import sqlite3
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
db = sqlite3.connect('data/movies.db')

In [3]:
query = "SELECT * FROM ratings"

In [51]:
df = pd.read_sql(query, db)
df = df.drop("timestamp", axis = 1)
df = df.set_index(["userId", "movieId"])
df = df.unstack()
df = df.fillna(0)

userids = list(df.index.values)

In [128]:
#df # this df's columns would have to be filteres according to the filtered list of movies (e.g. only action movies)

In [130]:
cosine_similarities = cosine_similarity(df)
results_df = pd.DataFrame(cosine_similarities, columns = userids, index = userids)
#results_df

In [111]:
#results_df

In [132]:
results_for_one_user = results_df.loc[1].sort_values(ascending = False) # get similar users
similar_users = list(results_for_one_user.keys())[1:]
similar_users # number of similar users to user 1 in order

[266,
 313,
 368,
 57,
 91,
 469,
 39,
 288,
 452,
 45,
 19,
 590,
 135,
 330,
 480,
 217,
 577,
 561,
 64,
 597,
 226,
 202,
 555,
 328,
 160,
 239,
 600,
 608,
 434,
 354,
 391,
 96,
 570,
 599,
 414,
 234,
 274,
 294,
 493,
 307,
 425,
 220,
 198,
 607,
 182,
 385,
 68,
 380,
 17,
 387,
 453,
 448,
 428,
 219,
 42,
 477,
 372,
 573,
 166,
 580,
 304,
 332,
 282,
 201,
 186,
 527,
 27,
 524,
 312,
 483,
 356,
 66,
 514,
 93,
 171,
 381,
 532,
 357,
 195,
 115,
 603,
 474,
 79,
 63,
 82,
 164,
 292,
 199,
 18,
 464,
 322,
 370,
 103,
 465,
 72,
 59,
 522,
 247,
 156,
 489,
 177,
 167,
 215,
 144,
 298,
 183,
 28,
 399,
 303,
 376,
 525,
 140,
 124,
 290,
 305,
 244,
 400,
 122,
 4,
 362,
 178,
 336,
 552,
 265,
 249,
 517,
 137,
 254,
 200,
 457,
 275,
 129,
 279,
 494,
 520,
 116,
 588,
 438,
 76,
 562,
 484,
 95,
 78,
 141,
 403,
 287,
 221,
 510,
 593,
 437,
 560,
 369,
 251,
 16,
 208,
 335,
 415,
 286,
 297,
 230,
 419,
 180,
 112,
 211,
 84,
 117,
 231,
 602,
 31,
 606,
 267,
 344,
 263,
 500,
 513,
 132,
 155,
 20,
 15,
 317,
 187,
 233,
 169,
 7,
 534,
 225,
 128,
 133,
 58,
 102,
 222,
 352,
 470,
 334,
 24,
 449,
 69,
 605,
 512,
 409,
 268,
 21,
 318,
 223,
 462,
 359,
 33,
 367,
 109,
 131,
 424,
 411,
 394,
 261,
 301,
 498,
 373,
 100,
 348,
 86,
 559,
 314,
 32,
 554,
 172,
 610,
 29,
 540,
 37,
 149,
 566,
 386,
 592,
 236,
 216,
 557,
 420,
 110,
 276,
 75,
 446,
 542,
 433,
 179,
 594,
 353,
 343,
 101,
 134,
 579,
 323,
 541,
 232,
 441,
 165,
 516,
 38,
 432,
 142,
 176,
 486,
 197,
 8,
 325,
 591,
 382,
 302,
 445,
 193,
 240,
 444,
 56,
 379,
 418,
 531,
 264,
 11,
 118,
 528,
 572,
 126,
 503,
 54,
 212,
 395,
 417,
 5,
 284,
 565,
 152,
 405,
 6,
 283,
 549,
 51,
 509,
 204,
 174,
 260,
 404,
 553,
 596,
 586,
 587,
 43,
 374,
 104,
 455,
 340,
 293,
 235,
 413,
 439,
 479,
 67,
 451,
 416,
 589,
 121,
 443,
 384,
 507,
 339,
 61,
 209,
 347,
 207,
 585,
 181,
 136,
 497,
 371,
 14,
 412,
 229,
 502,
 410,
 423,
 120,
 475,
 83,
 296,
 44,
 595,
 94,
 482,
 46,
 81,
 270,
 295,
 41,
 289,
 62,
 495,
 363,
 23,
 50,
 321,
 407,
 26,
 273,
 168,
 337,
 569,
 189,
 463,
 224,
 529,
 192,
 355,
 485,
 392,
 346,
 447,
 530,
 431,
 536,
 49,
 584,
 450,
 393,
 364,
 436,
 30,
 535,
 25,
 170,
 350,
 568,
 194,
 71,
 349,
 361,
 488,
 242,
 48,
 551,
 77,
 515,
 299,
 300,
 408,
 396,
 196,
 145,
 203,
 40,
 246,
 508,
 458,
 327,
 609,
 390,
 574,
 13,
 316,
 548,
 248,
 326,
 476,
 309,
 157,
 571,
 422,
 105,
 228,
 173,
 125,
 308,
 206,
 218,
 147,
 461,
 526,
 255,
 97,
 123,
 521,
 402,
 227,
 468,
 241,
 34,
 558,
 269,
 435,
 456,
 342,
 454,
 150,
 539,
 533,
 430,
 191,
 258,
 130,
 601,
 375,
 280,
 490,
 237,
 492,
 151,
 114,
 70,
 389,
 35,
 471,
 162,
 113,
 214,
 338,
 36,
 111,
 88,
 604,
 262,
 310,
 213,
 271,
 398,
 366,
 107,
 153,
 60,
 99,
 511,
 80,
 505,
 421,
 65,
 277,
 311,
 9,
 163,
 210,
 365,
 55,
 47,
 74,
 543,
 53,
 575,
 378,
 98,
 487,
 544,
 331,
 185,
 278,
 3,
 377,
 159,
 319,
 108,
 581,
 119,
 426,
 360,
 345,
 256,
 205,
 501,
 546,
 272,
 188,
 478,
 583,
 90,
 576,
 427,
 467,
 351,
 567,
 22,
 73,
 582,
 52,
 320,
 523,
 460,
 545,
 281,
 429,
 473,
 341,
 329,
 518,
 243,
 537,
 466,
 127,
 481,
 504,
 324,
 459,
 442,
 158,
 491,
 250,
 238,
 406,
 538,
 499,
 550,
 161,
 401,
 564,
 139,
 87,
 563,
 472,
 154,
 547,
 519,
 257,
 92,
 138,
 143,
 190,
 2,
 89,
 259,
 285,
 333,
 440,
 106,
 252,
 148,
 146,
 10,
 12,
 85,
 388,
 253,
 598,
 315,
 291,
 383,
 184,
 245,
 358,
 496,
 556,
 306,
 397,
 175,
 506,
 578]

create list of recommended movies

In [121]:
# here a filtered df has to be used, as of now, this gives general recommendations
recommended_movie_ids = ((df.loc[1] == 0) & (df.loc[266] >= 4.0))

In [122]:
recommended_movie_ids ## needs to be put in a list of unique movies

        movieId
rating  1          False
        2          False
        3          False
        4          False
        5          False
        6          False
        7          False
        8          False
        9          False
        10         False
        11         False
        12         False
        13         False
        14         False
        15         False
        16          True
        17         False
        18         False
        19         False
        20         False
        21          True
        22         False
        23         False
        24         False
        25         False
        26         False
        27         False
        28         False
        29         False
        30         False
                   ...
        188189     False
        188301     False
        188675     False
        188751     False
        188797     False
        188833     False
        189043     False
        189111     False
        189333     False
        189381     False
        189547     False
        189713     False
        190183     False
        190207     False
        190209     False
        190213     False
        190215     False
        190219     False
        190221     False
        191005     False
        193565     False
        193567     False
        193571     False
        193573     False
        193579     False
        193581     False
        193583     False
        193585     False
        193587     False
        193609     False
Length: 9724, dtype: bool

In [ ]:
compare = df.loc[[1, 266]].transpose()
compare