## Overview of data:
- All 4 datasets from MovieLens are stored in the central movies.db database.
- The 4 datasets are as follows:
    - **links.csv**: links the *movieId* (what we are using as our unique identifier) with the imdbId (which will be helpful when eventually referencing IMDB for plot info and images).
    - **movies.csv**: contains the *title* and *genre* for each *movieId*.
        - *sidenote*: the actual table in the db.file is called '*movielens*'.
    - **ratings.csv**: contains the *rating* that each user (denoted by a *userId*) gave a particular movie (linked to its *movieId*) at a particular time (represented by a *timestamp* as a string). Note that each user rated multiple movies.
    - **tags.csv**: contains the *tags* that a particular user (linked to his/her *userId*) gave to a particular movie (linked to its *movieId*), also at a particular *timestamp*. Note that each user tags multiple movies, and in turn may apply multiple tags to each movie.
- In SQL commands, when joining data, all queries should be joined on the **movieId**, since this is the common, unique identifier between all tables in the database.

In [1]:
import pandas as pd
import sqlite3

In [2]:
db = sqlite3.connect('data/movies.db')

In [3]:
query = '''SELECT * FROM movielens
        '''

In [4]:
df_out = pd.read_sql(query, db)
df_out.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
query2 = '''SELECT title, genres, ratings.*, tags.tag, tags.timestamp AS ts
            FROM movielens
            JOIN ratings ON movielens.movieId = ratings.movieId
            LEFT JOIN tags ON movielens.movieID = tags.movieID AND ratings.userId = tags.userId
         '''
df2 = pd.read_sql(query2, db)
df2

,title,genres,userId,movieId,rating,timestamp,tag,ts
0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,1,4.0,964982703,None,NaN
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,1,4.0,847434962,None,NaN
2,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,1,4.5,1106635946,None,NaN
3,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,1,2.5,1510577970,None,NaN
4,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,1,4.5,1305696483,None,NaN
5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18,1,3.5,1455209816,None,NaN
6,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,1,4.0,965705637,None,NaN
7,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,21,1,3.5,1407618878,None,NaN
8,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,27,1,3.0,962685262,None,NaN
9,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31,1,5.0,850466616,None,NaN
10,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,32,1,3.0,856736119,None,NaN
11,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33,1,3.0,939647444,None,NaN
12,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40,1,5.0,832058959,None,NaN
13,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,1,5.0,848993983,None,NaN
14,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,44,1,3.0,869251860,None,NaN
15,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,45,1,4.0,951170182,None,NaN
16,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46,1,5.0,834787906,None,NaN
17,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,50,1,3.0,1514238116,None,NaN
18,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,54,1,3.0,830247330,None,NaN
19,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57,1,5.0,965796031,None,NaN
20,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,63,1,5.0,1443199669,None,NaN
21,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,64,1,4.0,1161520134,None,NaN
22,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,66,1,4.0,1104643957,None,NaN
23,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68,1,2.5,1158531426,None,NaN
24,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,71,1,5.0,864737933,None,NaN
25,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,73,1,4.5,1464196374,None,NaN
26,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,76,1,0.5,1439165548,None,NaN
27,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,78,1,4.0,1252575124,None,NaN
28,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,82,1,2.5,1084467729,None,NaN
29,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,86,1,4.0,1344082549,None,NaN
...,...,...,...,...,...,...,...,...
102647,Tag (2018),Comedy,514,188797,4.0,1535941279,None,NaN
102648,The Man Who Killed Don Quixote (2018),Adventure|Comedy|Fantasy,318,188833,4.5,1535035971,None,NaN
102649,Boundaries (2018),Comedy|Drama,338,189043,2.5,1530148447,None,NaN
102650,Spiral (2018),Documentary,338,189111,3.0,1530148343,None,NaN
102651,Mission: Impossible - Fallout (2018),Action|Adventure|Thriller,184,189333,4.0,1537110051,None,NaN
102652,Mission: Impossible - Fallout (2018),Action|Adventure|Thriller,248,189333,3.5,1534602181,None,NaN
102653,SuperFly (2018),Action|Crime|Thriller,318,189381,2.5,1536097988,None,NaN
102654,Iron Soldier (2010),Action|Sci-Fi,210,189547,1.0,1528486011,None,NaN
102655,BlacKkKlansman (2018),Comedy|Crime|Drama,462,189713,2.5,1536467299,None,NaN
102656,The Darkest Minds (2018),Sci-Fi|Thriller,50,190183,3.5,1533302021,None,NaN
102657,Tilt (2011),Drama|Romance,338,190207,1.5,1530148481,None,NaN
102658,Jeff Ross Roasts the Border (2017),Comedy,338,190209,4.0,1530148487,None,NaN
102659,John From (2015),Drama,338,190213,1.0,1530148478,None,NaN
102660,Liquid Truth (2017),Drama,338,190215,1.5,1530148477,None,NaN
102661,Bunny (1998),Animation,338,190219,1.0,1530148473,None,NaN
102662,Hommage à Zgougou (et salut à Sabine Mamou) (2...,Documentary,338,190221,1.0,1530148473,None,NaN
102663,Gintama (2017),Action|Adventure|Comedy|Sci-Fi,184,191005,4.5,1537109489,None,NaN
102664,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,193565,3.5,1537098554,anime,1.537099e+09
102665,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,193565,3.5,1537098554,comedy,1.537099e+09
102666,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,193565,3.5,1537098554,gintama,1.537099e+09
102667,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,193565,3.5,1537098554,remaster,1.537099e+09
102668,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama,184,193567,3.0,1537099103,None,NaN
102669,Silver Spoon (2014),Comedy|Drama,184,193571,4.0,1537099392,None,NaN
102670,Love Live! The School Idol Movie (2015),Animation,184,193573,4.0,1537099811,None,NaN
102671,Jon Stewart Has Left the Building (2015),Documentary,184,193579,3.5,1537107259,None,NaN
102672,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,193581,4.0,1537109082,None,NaN
102673,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,193583,3.5,1537109545,None,NaN
102674,Flint (2017),Drama,184,193585,3.5,1537109805,None,NaN
102675,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,193587,3.5,1537110021,None,NaN
102676,Andrew Dice Clay: Dice Rules (1991),Comedy,331,193609,4.0,1537157606,None,NaN

In [ ]:
db.close()